Repository 2024memozi/android, pull requests merged in 2024-09, with the labels that each got.

#8 Feat/#7 login
  core/designsystem/src/main/res/drawable/ic_kakako.xml
  core/designsystem/src/main/res/drawable/ic_memozi_title.xml
  core/designsystem/src/main/res/drawable/img_logo.png
  feature/login/src/main/java/com/memozi/login/LoginScreen.kt
  feature/login/src/main/java/com/memozi/login/navigation/LoginNavigation.kt
Labels: feat

#15 Feat/#6 memo
  app/build.gradle.kts
  core/designsystem/src/main/java/com/memozi/component/button/MemoziButton.kt
  core/designsystem/src/main/java/com/memozi/component/top/MemoziTopAppBar.kt
  core/designsystem/src/main/res/drawable/ic_camera_gray_24.xml
  core/designsystem/src/main/res/drawable/ic_plus_white_34.xml
  core/designsystem/src/main/res/drawable/ic_x_white_13.xml
  core/designsystem/src/main/res/drawable/img_category_add.png
  core/ui/src/main/java/com/memozi/ui/lifecycle/ComposableLifecycle.kt
  core/ui/src/main/java/com/memozi/ui/lifecycle/LaunchedEffectWithLifeCycle.kt
  domain/memo/.gitignore
  domain/memo/build.gradle.kts
  domain/memo/src/main/AndroidManifest.xml
  domain/memo/src/main/java/com/memozi/memo/model/CategoryItem.kt
  domain/memo/src/main/java/com/memozi/memo/model/MemoItem.kt
  feature/login/src/main/java/com/memozi/login/navigation/LoginNavigation.kt
  feature/memo/build.gradle.kts
  feature/memo/src/main/java/com/memozi/memo/MemoContract.kt
  feature/memo/src/main/java/com/memozi/memo/MemoScreen.kt
  feature/memo/src/main/java/com/memozi/memo/MemoViewModel.kt
  feature/memo/src/main/java/com/memozi/memo/navigation/MemoNavigation.kt
  feature/memo/src/main/java/com/memozi/memo/screen/MemoCategoryScreen.kt
  feature/navigator/build.gradle.kts
  feature/navigator/src/main/java/com/memozi/navigator/MainActivity.kt
  feature/navigator/src/main/java/com/memozi/navigator/MainNavigator.kt
  feature/navigator/src/main/java/com/memozi/navigator/MainScreen.kt
  settings.gradle.kts
Labels: feat, ui

#20 Feat/#13 memo search detail
  .idea/compiler.xml
  .idea/deploymentTargetSelector.xml
  .idea/gradle.xml
  .idea/kotlinc.xml
  .idea/ktlint-plugin.xml
  .idea/misc.xml
  .idea/other.xml
  .idea/shelf/Changes.xml
  .idea/shelf/Changes/shelved.patch
  .idea/shelf/Changes1.xml
  .idea/shelf/Changes1/shelved.patch
  .idea/shelf/Changes2.xml
  .idea/shelf/Changes2/shelved.patch
  .idea/shelf/Changes3.xml
  .idea/shelf/Changes3/shelved.patch
  .idea/vcs.xml
  core/designsystem/src/main/java/com/memozi/component/DeleteDialog.kt
  core/designsystem/src/main/java/com/memozi/component/button/MemFloatingButton.kt
  core/designsystem/src/main/java/com/memozi/component/button/MemoziCheckBox.kt
  core/designsystem/src/main/java/com/memozi/component/textfield/MemoziSearchTextfield.kt
  core/designsystem/src/main/res/drawable/ic_caution.xml
  core/designsystem/src/main/res/drawable/ic_check_mark.xml
  core/designsystem/src/main/res/drawable/ic_checked.xml
  core/designsystem/src/main/res/drawable/ic_close.xml
  core/designsystem/src/main/res/drawable/ic_drop_black.xml
  core/designsystem/src/main/res/drawable/ic_emptycheck.xml
  core/designsystem/src/main/res/drawable/ic_hing.xml
  core/designsystem/src/main/res/drawable/ic_memo_check.xml
  core/designsystem/src/main/res/drawable/ic_memo_menu.xml
  core/designsystem/src/main/res/drawable/ic_x_white.xml
  domain/memo/src/main/java/com/memozi/memo/model/CategoryItem.kt
  feature/memo/src/main/java/com/memozi/memo/MemoDetailScreen.kt
  feature/memo/src/main/java/com/memozi/memo/MemoScreen.kt
  feature/memo/src/main/java/com/memozi/memo/MemoSearchScreen.kt
  feature/memo/src/main/java/com/memozi/memo/navigation/MemoNavigation.kt
Labels: ui

#23 Feat/#16 calendar bottom sheet
  .gitignore
  app/build.gradle.kts
  core/designsystem/src/main/res/drawable/ic_calendar_bottomsheet_back.xml
  core/designsystem/src/main/res/drawable/ic_calendar_bottomsheet_forward.xml
  core/designsystem/src/main/res/drawable/ic_calendar_today.xml
  core/designsystem/src/main/res/drawable/ic_diary_feed_pin_small.xml
  feature/diary/.gitignore
  feature/diary/build.gradle.kts
  feature/diary/consumer-rules.pro
  feature/diary/proguard-rules.pro
  feature/diary/src/main/AndroidManifest.xml
  feature/diary/src/main/java/com/memozi/diary/navigation/DiaryNavigation.kt
  feature/diary/src/main/java/com/memozi/diary/screen/DiaryContract.kt
  feature/diary/src/main/java/com/memozi/diary/screen/DiaryScreen.kt
  feature/diary/src/main/java/com/memozi/diary/screen/DiaryViewModel.kt
  feature/diary/src/main/java/com/memozi/diary/screen/component/DiaryScreenDialog.kt
  feature/diary/src/main/java/com/memozi/diary/screen/component/WeekHeader.kt
  feature/diary/src/main/java/com/memozi/diary/utils/CalendarUtils.kt
  feature/diaryfeed/.gitignore
  feature/diaryfeed/src/main/java/com/memozi/diaryfeed/DiaryFeedScreen.kt
  feature/navigator/build.gradle.kts
  feature/navigator/src/main/java/com/memozi/navigator/MainNavigator.kt
  feature/navigator/src/main/java/com/memozi/navigator/MainScreen.kt
  settings.gradle.kts
Labels: ui

#22 Feat/#9 onboarding
  core/designsystem/src/main/res/drawable/img_onboarding_three.png
  core/designsystem/src/main/res/drawable/img_onboarding_two_1.png
  core/designsystem/src/main/res/drawable/img_onboarding_two_2.png
  feature/navigator/src/main/java/com/memozi/navigator/MainScreen.kt
  feature/onboarding/.gitignore
  feature/onboarding/build.gradle.kts
  feature/onboarding/src/main/java/com/memozi/onboarding/OnboardingContract.kt
  feature/onboarding/src/main/java/com/memozi/onboarding/OnboardingScreen.kt
  feature/onboarding/src/main/java/com/memozi/onboarding/OnboardingViewModel.kt
  feature/onboarding/src/main/java/com/memozi/onboarding/navigation/OnboardingNavigation.kt
Labels: feat, ui

#29 [bug] #28 onboarding gradle 추가
  feature/navigator/build.gradle.kts
  settings.gradle.kts
Labels: bug

#31 Feat/#21 memo api
  data/memo/src/main/java/com/memozi/memo/model/response/ResponseMemo.kt
  data/memo/src/main/java/com/memozi/memo/repository/MemoRepositoryImpl.kt
  data/memo/src/main/java/com/memozi/memo/source/remote/MemoRemoteDataSource.kt
  domain/memo/src/main/java/com/memozi/memo/model/Memo.kt
  domain/memo/src/main/java/com/memozi/memo/repository/MemoRepository.kt
  feature/memo/src/main/java/com/memozi/memo/MemoScreen.kt
  feature/memo/src/main/java/com/memozi/memo/detail/MemoDetailContract.kt
  feature/memo/src/main/java/com/memozi/memo/detail/MemoDetailScreen.kt
  feature/memo/src/main/java/com/memozi/memo/detail/MemoDetailViewModel.kt
  feature/memo/src/main/java/com/memozi/memo/navigation/MemoNavigation.kt
  feature/memo/src/main/java/com/memozi/memo/search/MemoSearchContract.kt
  feature/memo/src/main/java/com/memozi/memo/search/MemoSearchScreen.kt
  feature/memo/src/main/java/com/memozi/memo/search/MemoSearchViewModel.kt
  feature/navigator/src/main/java/com/memozi/navigator/MainNavigator.kt
  feature/navigator/src/main/java/com/memozi/navigator/MainScreen.kt
  remote/memo/src/main/java/com/memozi/memo/api/MemoService.kt
  remote/memo/src/main/java/com/memozi/memo/datasource/MemoRemoteDataSourceImpl.kt
Labels: feat

#30 Feat/#27 diary
  app/build.gradle.kts
  core/designsystem/src/main/java/com/memozi/component/MoreOptionsMenu.kt
  data/diary/.gitignore
  data/diary/build.gradle.kts
  data/diary/src/main/AndroidManifest.xml
  data/diary/src/main/java/com/memozi/diary/di/DiaryModule.kt
  data/diary/src/main/java/com/memozi/diary/model/request/RequesetDiary.kt
  data/diary/src/main/java/com/memozi/diary/model/response/ResponseDiary.kt
  data/diary/src/main/java/com/memozi/diary/repository/DiaryRepositoryImpl.kt
  data/diary/src/main/java/com/memozi/diary/source/remote/DiaryRemoteDataSource.kt
  data/memo/src/main/java/com/memozi/memo/repository/MemoRepositoryImpl.kt
  data/memo/src/main/java/com/memozi/memo/source/remote/MemoRemoteDataSource.kt
  data/oauth/src/main/java/com/memozi/oauth/repository/KakaoAuthManager.kt
  domain/diary/.gitignore
  domain/diary/build.gradle.kts
  domain/diary/src/main/AndroidManifest.xml
  domain/diary/src/main/java/com/memozi/diary/model/Diary.kt
  domain/diary/src/main/java/com/memozi/diary/repository/DiaryRepository.kt
  domain/memo/src/main/java/com/memozi/memo/model/Memo.kt
  domain/memo/src/main/java/com/memozi/memo/repository/MemoRepository.kt
  domain/oauth/src/main/java/com/memozi/oauth/OAuthInteractor.kt
  feature/diary/build.gradle.kts
  feature/diary/src/main/java/com/memozi/diary/screen/DiaryContract.kt
  feature/diary/src/main/java/com/memozi/diary/screen/DiaryScreen.kt
  feature/diary/src/main/java/com/memozi/diary/screen/DiaryViewModel.kt
  feature/memo/src/main/java/com/memozi/memo/MemoScreen.kt
  feature/memo/src/main/java/com/memozi/memo/MemoViewModel.kt
  feature/memo/src/main/java/com/memozi/memo/component/MemoItemCard.kt
  feature/memo/src/main/java/com/memozi/memo/detail/MemoDetailViewModel.kt
  feature/memo/src/main/java/com/memozi/memo/search/MemoSearchScreen.kt
  remote/diary/.gitignore
  remote/diary/build.gradle.kts
  remote/diary/src/main/AndroidManifest.xml
  remote/diary/src/main/java/com/memozi/diary/FileConverter.kt
  remote/diary/src/main/java/com/memozi/diary/api/DiaryService.kt
  remote/diary/src/main/java/com/memozi/diary/datasource/DiaryRemoteDataSourceImpl.kt
  remote/diary/src/main/java/com/memozi/diary/di/DiaryApiModule.kt
  remote/diary/src/main/java/com/memozi/diary/di/DiaryDataModule.kt
  remote/memo/src/main/java/com/memozi/memo/api/MemoService.kt
  remote/memo/src/main/java/com/memozi/memo/datasource/MemoRemoteDataSourceImpl.kt
  settings.gradle.kts
Labels: feat

#34 Refactor/#33 UI
  core/designsystem/src/main/java/com/memozi/component/DropDownMenu.kt
  core/designsystem/src/main/java/com/memozi/component/MoreOptionsMenu.kt
  data/memo/src/main/java/com/memozi/memo/repository/MemoRepositoryImpl.kt
  data/memo/src/main/java/com/memozi/memo/source/remote/MemoRemoteDataSource.kt
  domain/memo/src/main/java/com/memozi/memo/model/Memo.kt
  domain/memo/src/main/java/com/memozi/memo/repository/MemoRepository.kt
  feature/diary/src/main/java/com/memozi/diary/screen/DiaryScreen.kt
  feature/memo/src/main/java/com/memozi/memo/MemoScreen.kt
  feature/memo/src/main/java/com/memozi/memo/MemoViewModel.kt
  feature/memo/src/main/java/com/memozi/memo/component/MemoItemCard.kt
  feature/memo/src/main/java/com/memozi/memo/detail/MemoDetailContract.kt
  feature/memo/src/main/java/com/memozi/memo/detail/MemoDetailScreen.kt
  feature/memo/src/main/java/com/memozi/memo/detail/MemoDetailViewModel.kt
  feature/memo/src/main/java/com/memozi/memo/navigation/MemoNavigation.kt
  feature/memo/src/main/java/com/memozi/memo/search/MemoSearchContract.kt
  feature/memo/src/main/java/com/memozi/memo/search/MemoSearchScreen.kt
  feature/memo/src/main/java/com/memozi/memo/search/MemoSearchViewModel.kt
  feature/navigator/src/main/java/com/memozi/navigator/MainScreen.kt
  remote/memo/src/main/java/com/memozi/memo/api/MemoService.kt
  remote/memo/src/main/java/com/memozi/memo/datasource/MemoRemoteDataSourceImpl.kt
Labels: feat, refactor

#37 Feat/#35 setting UI
  data/auth/src/main/java/com/memozi/auth/repository/AuthRepositoryImpl.kt
  feature/navigator/build.gradle.kts
  feature/navigator/src/main/java/com/memozi/navigator/MainNavigator.kt
  feature/navigator/src/main/java/com/memozi/navigator/MainScreen.kt
  feature/setting/.gitignore
  feature/setting/build.gradle.kts
  feature/setting/src/main/AndroidManifest.xml
  feature/setting/src/main/java/com/memozi/setting/SettingContract.kt
  feature/setting/src/main/java/com/memozi/setting/SettingDeleteAccount.kt
  feature/setting/src/main/java/com/memozi/setting/SettingMainScreen.kt
  feature/setting/src/main/java/com/memozi/setting/SettingMyInfo.kt
  feature/setting/src/main/java/com/memozi/setting/SettingViewmodel.kt
  feature/setting/src/main/java/com/memozi/setting/navigation/SettingNavigation.kt
  gradle/libs.versions.toml
  remote/auth/src/main/java/com/memozi/auth/api/AuthService.kt
  remote/auth/src/main/java/com/memozi/auth/api/datasource/AuthRemoteDataSourceImpl.kt
  settings.gradle.kts
Labels: feat, ui
